.circle {
  height: 38px;
  width: 38px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  margin-right: 6px;
  margin-top: 20px;
  font-size: 1.5em;
}

.circle i {
  color: #c2c2c2;
}

.circle:hover {
  background: #777;
  color: #fff;
  cursor: pointer;
}

.circle:hover i {
  color: #fff;
}

#firstCircle {
  background: #19caaf;
}

#firstCircle i {
  color: #fff;
}
