.new-tag {
  position: relative;
  top: 10px;
  left: 10px;
}

.new-box-content {
  border: 1px solid #e1e0e0;
  height: 448px;
  width: 99%;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
}

.square-new-box {
  height: 20px;
  width: 36px;
  background-color: #000;
  color: #fff;
  font-size: 12px !important;
  text-align: center;
  line-height: 20px;
}

.triangle-down-new-box {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  position: absolute;
  left: 14px;
}

.circle-list {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 100%;
}

.img-wrapper {
  width: 220px;
  height: 150px;
  margin: auto auto 50px auto;
}

.new-box-content img:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.2);
}
