.sale-box {
  width: 320px;
  height: 136px;
  padding-top: 16px;
  /* border: 1px solid #000; */
}

.sale-box-content {
  background: #f2f2f2;
  height: 100%;
}

.sale-price {
  color: #19caaf;
}

.sale-tag {
  position: relative;
  top: -10px;
  left: 10px;
}

.square {
  height: 20px;
  width: 36px;
  background-color: #19caaf;
  color: #fff;
  font-size: 12px !important;
  text-align: center;
  line-height: 20px;
}

.blank {
  height: 20px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #19caaf;
  position: absolute;
  left: 14px;
}

.img-hover-zoom {
  transition: 0.2s;
  width: 30%;
  height: 45%;
}

.img-hover-zoom:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.detail {
  float: left;
  margin-left: 10px;
  width: 130px;
}
