.cd-top {
  display: inline-block;
  height: 100px;
  width: 80px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 6;
  /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
  /* image replacement properties */
  /* overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}

.cd-top:hover {
  /* background-color: #e86256; */
  opacity: 1;
}

/* @media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
} */
