$color_link_defaut: #2f2f2f;
$color_link_hover: #19caaf;
$color_header: #f2f2f2;
a {
  text-decoration: none !important;
  color: $color_link_defaut;
  &:hover {
    cursor: pointer;
    color: $color_link_hover;
  }
}

input[type="text"] {
  border: none;
  z-index: 0 !important;
}

input {
  &:focus {
    outline: none !important;
  }
}
button {
  &:focus {
    outline: none !important;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header {
  background: $color_header;
  width: 100%;
  padding-top: 19px;
}

a.dropdown-menu-item {
  &:hover {
    background: $color_link_hover;
  }
}

#swipeMenu {
  height: 46px;
  background: #000;
  position: fixed;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.175);
}

.header {
  background: #f2f2f2;
  width: 100%;
  i#soundAccordion {
    color: #777;
    float: right;
    &:hover {
      cursor: pointer;
      color: #19caaf;
    }
  }
}

#accordionUl > a {
  padding-left: 30px;
}

.dropdown-toggle::after {
  display: none;
}

ul.top-list {
  margin-bottom: 19px;
  li {
    display: inline-block;
    list-style: none;
    margin-left: 8px;
  }
  .dropdown a.dropdown-item {
    width: 100%;
    padding-left: 10px;
    display: block;
    text-transform: uppercase;
  }
}

.dropdown-menu a.dropdown-item:hover {
  color: #fff;
  background: #19caaf !important;
  transition: 0.3s;
}

img.logo {
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.phone i {
  color: #19caaf;
  padding-right: 10px;
  font-size: 32px;
}

.phone-number {
  color: #000;
  font-size: 1.8em;
  font-weight: 500;
}

.box-heading {
  height: 50px;
  background: #19caaf;
  color: #fff;
  padding-top: 11px;
  padding-left: 17px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: -49px;
}

.cat-item {
  border-bottom: 1px solid #e1e0e0;
  font-size: 14px;
  padding: 13px 10px 13px 17px;
  width: 100%;
}
a.cat-item {
  display: block;
  font-size: 1.1em;
}

ul li.cat-item:nth-last-child(1) {
  border-bottom: none;
}

.heading-left-menu {
  font-size: 14px;
  margin: 20px 0;
  padding: 15px 30px 1px 17px;
}

a:hover > i {
  color: #777;
}

#specials p {
  display: inline;
}

/* Override Bootstrap & Fontawesome class */
.nav-link {
  color: #fafafa;
  font-size: 1.2em;
}

.fab {
  color: #19caaf;
}

.fa {
  color: #19caaf;
}

.fa-angle-up:hover,
.fa-angle-down:hover {
  cursor: pointer;
  color: #19caaf;
}

.input-group-addon {
  border: none;
  background: #19caaf;
  color: #fff;
  padding: 10px 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-group-addon:hover {
  background: #2f2f2f;
  cursor: pointer;
}

h3,
h4 {
  margin: 0 !important;
}

.col-md-12 {
  padding: 0;
}

.fa-angle-right {
  color: #19caaf;
  margin-right: 10px;
}

li.cat-item i.fa-angle-down {
  margin-right: 10px;
}

.fa-angle-up {
  margin-right: 10px;
}
