<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FAV icon -->
    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <!-- lazy loading xt -->
    <!-- <script src="js/jquery.lazyloadxt.min.js"></script> -->
    <!-- <link rel="stylesheet" href="css/jquery.lazyloadxt.spinner.min.css"> -->

    <!-- cycle2 vertical carousel JS -->
    <!-- <script src="http://malsup.github.io/jquery.cycle2.js"></script> -->
    <!-- <script src="http://malsup.github.io/jquery.cycle2.carousel.js"></script> -->
    <!-- <script>$.fn.cycle.defaults.autoSelector = '.slideshow';</script> -->

    <title>shop online</title>
  </head>

  <body>
    <div id="swipeMenu" class="col-xs-12 hidden-sm hidden-md hidden-lg"></div>
    <!-- sidebar overlay Section -->
    <nav class="sidebar" id="sidebar">
      <div class="sidebar__btn-close" id="sidebarBtnClose"></div>
      <ul>
        <!-- <li><a href="">Home home home</a></li> -->
      </ul>
    </nav>
    <div class="sidebar-overlay"></div>
    <div>
      <button class="btn-menu swipe-control" id="sidebarBtnOpen"><i class="fa fa-align-justify"></i></button>
    </div>
    <!-- end sidebar overlay-->
    <header class="header">
      <div class="container">
        <ul class="top-list pull-right">
          <li class="top-list-item">
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="top-list-item">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="top-list-item">
            <a href="#"><i class="fab fa-google-plus"></i></a>
          </li>
          <li class="top-list-item">
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <div class="dropdown">
              <a
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                $ <i class="fa fa-angle-down"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">€ Euro</a>
                <a class="dropdown-item" href="#">€ Euro</a>
                <a class="dropdown-item" href="#">€ Euro</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                En <i class="fa fa-angle-down"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Vietnamese</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <img class="logo" data-src="img/logo.png" alt="" />
          </div>

          <div class="col-sm-5 col-xs-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2" />
              <span class="input-group-addon" id="basic-addon2">Search</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="pull-right hidden-xs">
              <a class="phone" href=""><i class="fa fa-phone fa-rotate-90"></i></a>
              <span class="phone-number">800-2345-6789</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-3"></div>

          <div class="col-sm-9">
            <!-- <nav class="navbar navbar-inverse hidden-xs"> -->
            <nav class="navbar navbar-inverse custom-navbar hidden-xs" role="navigation">
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed hidden-sm hidden-xs"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                </button>

                <!-- <a class="swipe-control" href=""><i class="fa fa-align-justify"></i> </a> -->

                <div id="navbar" class="collapse navbar-collapse navbar-left">
                  <ul class="nav navbar-nav">
                    <li>
                      <a href="#"><i class="fa fa-home"></i><span class="hidden-sm"> Home</span></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-star"></i><span class="hidden-sm"> Wish List (0)</span></a>
                    </li>
                    <li class="btn-group">
                      <!-- Single button -->
                      <!-- <div> -->
                      <!-- <div class="btn-group"> -->
                      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-book"></i>
                        <span class="hidden-sm">My Account </span><span class="caret hidden-sm"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Register</a></li>
                        <li><a class="dropdown-item" href="#">Login</a></li>
                      </ul>
                      <!-- </div> -->
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-shopping-cart"></i> <span class="hidden-sm">Shopping Cart</span></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-check-square"></i> <span class="hidden-sm">Checkout</span></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="box-cart pull-right">
                <div id="cart" class="cart">
                  <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="dropdown-toggle">
                    <span> <i class="fa fa-shopping-cart"></i></span>
                    <span id="cart-total" class="cart-total hidden-xs">0 item(s)</span>
                    <i class="fa fa-angle-down hidden-xs"></i>
                  </button>
                  <ul id="cart-detail" class="dropdown-menu pull-right">
                    <li>
                      <p class="text-center">Your shopping cart is empty!</p>
                    </li>
                  </ul>
                </div>
              </div>
              <!--/.nav-collapse -->
            </nav>
            <div class="box-cart hidden-sm hidden-md hidden-lg">
              <div id="cart" class="cart">
                <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="dropdown-toggle">
                  <span> <i class="fa fa-shopping-cart"></i></span>
                  <span id="cart-total" class="cart-total hidden-xs">0 item(s)</span>
                  <i class="fa fa-angle-down hidden-xs"></i>
                </button>
                <ul id="cart-detail" class="dropdown-menu pull-right">
                  <li>
                    <p class="text-center">Your shopping cart is empty!</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="box-heading">
            <h4><i class="fas fa-bars hidden-xs"></i> Categories</h4>
          </div>
          <div class="header">
            <ul>
              <li class="cat-item">
                <a routerLink="/index/audiodevices">Sound devices</a
                ><i
                  id="soundAccordion"
                  class="accordion fa fa-angle-down fa-angle-right"
                  data-toggle="collapse"
                  data-target="#accordionUl"
                  onclick="changeIcon(this)"
                ></i>
              </li>
              <div id="accordionUl" class="collapse">
                <a class="cat-item" href="">MP3 player</a>
                <a class="cat-item" href="">Sony Walkman</a>
                <a class="cat-item" href="">iPod</a>
              </div>
              <li class="cat-item">
                <a href="">Video game colsoles</a>
              </li>
              <li class="cat-item"><a href="">Cell/mobile/wireless phones</a></li>
              <li class="cat-item"><a href="">Cameras</a></li>
              <li class="cat-item"><a href="">Home theatre systems</a></li>
              <li class="cat-item"><a href="">TVs</a></li>
              <li class="cat-item"><a href="">Computers</a></li>
              <li class="cat-item"><a href="">Games/movies/music</a></li>
              <li class="cat-item"><a href="">Accessories</a></li>
              <li class="cat-item"><a href="">Office</a></li>
              <li class="cat-item"><a href="">Home Appliances</a></li>
            </ul>
          </div>
          <!-- Account menu-left -->
          <div class="hidden-xs">
            <div class="header heading-left-menu">
              <p>Account</p>
            </div>
            <div class="header">
              <ul>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>Login</a>
                </li>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>Register</a>
                </li>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>Forgotten Password</a>
                </li>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>My Account</a>
                </li>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>Address Book</a>
                </li>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>Wish List</a>
                </li>
                <li class="cat-item">
                  <a href=""><i class="fas fa-angle-right"></i>Order History</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Specials section -->
          <div id="specials" class="header heading-left-menu">
            <p>Specials</p>
            <a href="#" id="next"><i class="fas fa-angle-down pull-right"></i></a>
            <a href="#" id="prev"><i class="fas fa-angle-up pull-right"></i></a>
          </div>
          <div
            class="slideshow vertical"
            data-cycle-fx="carousel"
            data-cycle-timeout="0"
            data-cycle-next="#next"
            data-cycle-prev="#prev"
            data-cycle-slides="li"
            data-cycle-carousel-visible="2"
            data-cyle-center-horz="true"
            data-cycle-center-vert="true"
            data-cycle-carousel-vertical="true"
          >
            <!-- <div class="slideshow vertical" data-cycle-fx=carousel data-cycle-timeout=0 data-cycle-next="#next" data-cycle-prev="#prev"
            data-cycle-pager="#pager3" data-cycle-carousel-visible=2 data-cycle-carousel-vertical=true> -->
            <ul>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="sale-tag">
                      <div class="square">Sale</div>
                      <div class="triangle-down"></div>
                    </div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/1942/96148/tivi-samsung-55-inch-ua55mu6500-6-550x340.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="sale-tag">
                      <div class="square">Sale</div>
                      <div class="triangle-down"></div>
                    </div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/44/166521/dell-inspiron-3576-p63f002n76f-thumb-33397-600x600.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="sale-tag">
                      <div class="square">Sale</div>
                      <div class="triangle-down"></div>
                    </div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/44/194252/lenovo-ideapad-120s-14iap-n4200-4gb-64gb-win10-81-15-600x600.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="sale-tag">
                      <div class="square">Sale</div>
                      <div class="triangle-down"></div>
                    </div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/1942/162455/tivi-samsung-ua55nu7500-5-550x340.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="sale-tag">
                      <div class="square">Sale</div>
                      <div class="triangle-down"></div>
                    </div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/1942/171435/tivi-samsung-ua32n4000-31-550x340.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- end Specials Section -->

          <!-- start Bestsellers section -->
          <div id="specials" class="header heading-left-menu">
            <p>Bestsellers</p>
            <a href="#" id="next1"><i class="fas fa-angle-down pull-right"></i></a>
            <a href="#" id="prev1"><i class="fas fa-angle-up pull-right"></i></a>
          </div>
          <div
            class="slideshow vertical"
            data-cycle-fx="carousel"
            data-cycle-timeout="0"
            data-cycle-next="#next1"
            data-cycle-prev="#prev1"
            data-cycle-slides="li"
            data-cycle-auto-height="true"
            data-cycle-carousel-visible="3"
            data-cycle-carousel-vertical="true"
          >
            <ul>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="blank"></div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/44/194252/lenovo-ideapad-120s-14iap-n4200-4gb-64gb-win10-81-15-600x600.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="blank"></div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/44/194252/lenovo-ideapad-120s-14iap-n4200-4gb-64gb-win10-81-15-600x600.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="blank"></div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/44/194252/lenovo-ideapad-120s-14iap-n4200-4gb-64gb-win10-81-15-600x600.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="blank"></div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/1942/159663/tivi-samsung-qled-qa55q8cn-14-550x340.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="sale-box">
                  <div class="sale-box-content">
                    <div class="blank"></div>
                    <img
                      class="img-hover-zoom pull-left img-responsive"
                      data-src="https://cdn.tgdd.vn/Products/Images/1942/160295/tivi-tivi-qled-samsung-qa55q7fn-5-550x340.jpg"
                    />
                    <div class="detail">
                      <h4>
                        <span class="sale-price">£64.68</span><small> <s>£1003.5</s> </small>
                      </h4>
                      <a href="">EOS 750D and 760D specifications surface</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- end Bestsellers Section -->
        </div>
        <!-- End div col-sm-3 -->

        <div class="col-sm-9">
          <!-- display data here -->
          <div class="row">
            <div class="col-sm-4" *ngFor="let item of (items | async | keyvalue)">
              <div class="card">
                <h3 class="card-title">{{ item.value.name }}</h3>
                <div class="card-body">
                  <img [src]="item.value.img_url" class="card-img-top" />
                  <h4 class="text-success">{{ item.value.price }}</h4>
                  <p class="card-text">{{ item.value.description }}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>
            <!-- end ngFor -->
          </div>
          <!-- end card-group -->
        </div>
      </div>
    </div>
    <!-- end main-row -->

    <footer>
      <div class="container">
        <div class="row footer-border">
          <div class="col-sm-6 info-left hidden-sm hidden-xs">
            <h5>About</h5>
            <p>
              Comfort is a very important thing nowadays because it is a condition of satisfaction and calmness. It is
              clear that our way of life must be as comfortable as possible. Home electronics satisfy our wishes and
              make our life more pleasant. We must admit that our way of life depends on quality of different goods of
              popular brands. Many of our clients were surprised by the incredible assortment of products in our store.
              You know, we have many devoted customers all over the world, and this fact proves that we sell only
              quality commodities. Recipe of our success is a fair price and premium quality.
            </p>
          </div>
          <div id="footerEvent" class="col-sm-6 info-right hidden-sm hidden-xs">
            <h5>Events</h5>
            <ul>
              <li>
                <a class="pull-left" href=""><i class="fas fa-truck fa-flip-horizontal"></i>free shipping</a>
                <p>for all purchase starting from 3 items.</p>
              </li>
              <li>
                <a class="pull-left" href=""><i class="fas fa-sync-alt"></i>100% quality</a>
                <p>The best quality of all products.</p>
              </li>
              <li>
                <a class="pull-left" href=""><i class="far fa-thumbs-up"></i>customer program</a>
                <p>Alot of bonuses for the loyal customers.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="row footer-border">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-xs-3">
                <h5>Information</h5>
                <ul>
                  <li><a href="">About</a></li>
                  <li><a href="">Delivery Information</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">Terms & Conditions</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h5>Customer Service</h5>
                <ul>
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">Return</a></li>
                  <li><a href="">Site Map</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h5>Extras</h5>
                <ul>
                  <li><a href="">Brands</a></li>
                  <li><a href="">Gift Vouchers</a></li>
                  <li><a href="">Affiiliates</a></li>
                  <li><a href="">Specials</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h5>My Account</h5>
                <ul>
                  <li><a href="">My Account</a></li>
                  <li><a href="">Order History</a></li>
                  <li><a href="">Wish List</a></li>
                  <li><a href="">Newsletter </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 hidden-sm hidden-xs">
            <div id="footerSocial">
              <h5>Follow us</h5>
              <ul>
                <li>
                  <a href=""><i class="fab fa-facebook"></i>Facebook</a>
                </li>
                <li>
                  <a href=""><i class="fab fa-youtube"></i>Youtube</a>
                </li>
                <li>
                  <a href=""><i class="fab fa-google-plus"></i>Google Plus</a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter"></i>Twitter</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="hidden-xs">
          <img data-src="img/footer-logo.png" alt="footer logo" />
          <p>Powered By OpenCart Electronics online store © 2019</p>
        </div>
      </div>
    </footer>

    <!-- Main js -->
    <!-- <script src="js/main.js"></script> -->
    <a href="#0" class="cd-top js-cd-top hidden-sm hidden-xs"><i class="fa fa-angle-up fa-4x"></i></a>
    <!-- <script src="js/to-top.js"></script> -->
    <!-- <script src="js/sidebar-overlay.js"></script> -->
  </body>
</html>
