a {
  text-decoration: none !important;
  color: #2f2f2f;
}

a:hover {
  color: #19caaf;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header {
  background: #f2f2f2;
  width: 100%;
  padding-top: 19px;
}

input[type="text"] {
  border: none;
  z-index: 0 !important;
}

a.dropdown-menu-item:hover {
  background: #19caaf;
}

input:focus {
  outline: none !important;
}

/* input[type="text"]:focus {
  outline: none !important;
} */
#swipeMenu {
  height: 46px;
  background: #000;
  position: fixed;
  z-index: 3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.175);
}

.header {
  background: #f2f2f2;
  // border: 1px solid transparent;
  width: 100%;
}

.header i#soundAccordion {
  color: #777;
  /* margin-left: 128px; */
  float: right;
}

.header i#soundAccordion:hover {
  cursor: pointer;
  color: #19caaf;
}

#accordionUl > a {
  padding-left: 30px;
}

.dropdown-toggle::after {
  display: none;
}

ul.top-list {
  // margin-top: 19px;
  margin-bottom: 19px;
}

ul.top-list li {
  display: inline-block;
  list-style: none;
  margin-left: 8px;
}

ul.top-list div.dropdown a.dropdown-item {
  /* font-size: 1.1em; */
  width: 100%;
  padding-left: 10px;
}

ul.top-list div.dropdown a.dropdown-item {
  display: block;
  text-transform: uppercase;
}

.dropdown-menu a.dropdown-item:hover {
  color: #fff;
  background: #19caaf !important;
  transition: 0.3s;
}

/* .dropdown-menu>li>a:active {
  background: none;
} */

ul.top-list li.top-list-item a i:hover {
  color: #2f2f2f;
}

img.logo {
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.phone i {
  color: #19caaf;
  padding-right: 10px;
  font-size: 32px;
}

.phone-number {
  color: #000;
  font-size: 1.8em;
  font-weight: 500;
}

.box-cart {
  position: relative;
}

.box-cart button {
  background: #19caaf;
  border: none;
  border-top-right-radius: 4px;
  color: #fff;
  line-height: 56px;
  width: 150px;
}

.box-cart button i {
  color: #fff;
}

.box-cart button i:nth-child(1) {
  font-size: 24px;
}

.box-cart button:hover {
  background: #24ffdb;
}

.cart-total {
  padding: 0 10px;
}

#cart-detail {
  padding-top: 20px;
  min-height: 70px;
  width: 200px;
}

.cat-item {
  border-bottom: 1px solid #e1e0e0;
  font-size: 14px;
  padding: 13px 10px 13px 17px;
  width: 100%;
}
a.cat-item {
  display: block;
  font-size: 1.1em;
}

/* ul li.cat-item:nth-child(1) {
  padding: 0;
} */

ul li.cat-item:nth-last-child(1) {
  border-bottom: none;
}

.heading-left-menu {
  font-size: 14px;
  margin: 20px 0;
  padding: 15px 30px 1px 17px;
}

a:hover > i {
  color: #777;
}

#specials p {
  display: inline;
}

.second-product {
  border: 1px solid #e1e0e0;
  margin-bottom: 15px;
  min-height: 165px;
}

.second-product img {
  position: absolute;
  bottom: -30px;
  right: 10px;
}

.second-product:hover {
  background: #19caaf;
  color: #fff;
  cursor: pointer;
}

.second-product:hover h4 span.sale-price {
  color: #fff !important;
}

.second-product:hover p.shop-now {
  color: #777 !important;
}

.second-product-info {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 160px;
}

#secondProduct {
  margin-top: 50px;
}

/* latest section */
.latest {
  width: 100%;
  position: relative;
}

/* Footer  */
footer {
  background: #f2f2f2;
  margin-top: 50px;
  padding: 30px 0;
}

footer .footer-border {
  border-bottom: 1px solid #e1e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

footer div.col-sm-8,
footer div.col-sm-4 {
  padding-top: 20px !important;
}

footer div.col-sm-8 div.col-xs-3 {
  padding-left: 0;
}

footer div.row .col-sm-6 {
  padding-left: 4px;
}

footer div.row div.col-sm-6 ul li i {
  margin-right: 4px;
}

footer div.row div.col-sm-6 ul li a {
  margin-right: 4px;
}

footer div.row div#footerEvent {
  padding-left: 30px !important;
  /* padding-top: 30px; */
}

footer h5 {
  color: #2f2f2f;
  font-size: 13px;
  font-weight: bolder;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #19caaf !important;
}

footer ul li a:hover {
  color: #777 !important;
}

footer img,
footer p {
  display: inline;
}

footer #footerSocial {
  border-left: 1px solid #e1e0e0;
  padding-left: 50px;
}

#footerSocial ul li i {
  margin-right: 10px;
}

#footerSocial ul li a:hover > i {
  color: #19caaf !important;
}

#footerSocial ul li a {
  color: #2f2f2f !important;
}

#footerSocial ul li a:hover {
  color: #777 !important;
}

/* back top top link */
a.cd-top i {
  color: #777;
  bottom: 50px;
  right: 50px;
}

/* Override Bootstrap & Fontawesome class */
.fab {
  color: #19caaf;
}

.fa {
  color: #19caaf;
}

.fa-angle-up:hover,
.fa-angle-down:hover {
  cursor: pointer;
  color: #19caaf;
}

.navbar {
  border: 0 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0 !important;
  margin-bottom: 0;
}

.navbar-header {
  margin-top: 4px;
}

.navbar-collapse {
  padding: 0;
  overflow: hidden;
}

.navbar-inverse {
  background: #2f2f2f;
  font-size: 1.2em;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
}

.navbar-inverse .navbar-nav > .open > a {
  background: #2f2f2f !important;
}

.dropdown-menu {
  border-radius: 0 !important;
}

.input-group-addon {
  border: none;
  background: #19caaf;
  color: #fff;
  padding: 10px 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-group-addon:hover {
  background: #2f2f2f;
  cursor: pointer;
}

h3,
h4 {
  margin: 0 !important;
}

.col-md-12 {
  padding: 0;
}

.fa-angle-right {
  color: #19caaf;
  margin-right: 10px;
}

li.cat-item i.fa-angle-down {
  margin-right: 10px;
}

.fa-angle-up {
  margin-right: 10px;
}
/* 
.fa-angle-down {
  margin-left: 4px;
} */

.owl-nav {
  position: absolute;
  top: -50px;
  right: 30px;
}

@media (max-width: 767px) {
  header {
    padding-top: 50px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .navbar-inverse .navbar-nav > li > a {
    font-size: 12px;
  }
}

/* @media (max-width: 990px) {
  .second-product {
    min-height: 200px;
  } */

.second-product-info {
  width: 60%;
}

@media (max-width: 520px) {
  .col-xs-6 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .swipe-control {
    display: none;
  }
}

@media (max-width: 767px) {
  .swipe-control {
    display: block;
  }

  .swipe-control i {
    line-height: 20px;
    font-size: 30px;
    color: #fff;
  }

  .swipe-control i:hover {
    color: #19caaf;
  }

  .navbar {
    border-radius: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px !important;
    z-index: 2;
  }
  .navbar-toggle {
    margin: 0;
  }

  .box-cart button {
    height: 46px;
    line-height: 50px;
    max-width: 80px;
    border-radius: 0;
    padding: 0 15px 0 5px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
  }

  .box-cart button .fa-shopping-cart {
    font-size: 16px !important;
  }

  .box-cart #cart-detail {
    position: fixed;
    top: 44px;
  }

  .custom-navbar .navbar-right {
    float: right;
    padding-right: 15px;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li {
    float: right;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li > a {
    padding: 8px 5px;
  }
  .custom-navbar .navbar-toggle {
    float: left;
  }
  .custom-navbar .navbar-header {
    float: left;
    width: auto !important;
  }
  .custom-navbar .navbar-collapse {
    clear: both;
    float: none;
  }
}

@media (max-width: 768px) {
  .box-heading {
    margin-top: 10px;
  }

  .box-heading h4 {
    text-transform: uppercase;
  }

  .main-product {
    padding-left: 100px;
  }

  footer .col-sm-6 {
    padding: 4px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  a.phone i {
    font-size: 24px;
  }
  .phone-number {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 49%;
  }
}

@media (max-width: 520px) {
  .col-xs-6 {
    width: 100%;
  }
}

@media (max-width: 668px) {
  footer .col-sm-8 .col-xs-3 {
    padding-left: 10px !important;
  }
}

@media (max-width: 700px) {
  .slideshow {
    width: 300px;
    margin: auto;
  }
}

@media (max-width: 986px) {
  .second-product {
    margin-bottom: 30px;
  }

  .second-product img {
    opacity: 0.3;
    z-index: -1;
  }
}

/* @media (min-width: 300px) {
 .img-hover-zoom {
    width:40%;
    height: 55%;
  }
} */
