<!-- main Carousel -->
<div id="mainCarousel">
  <div>
    <div class="main-product">
      <h4>iPhone 6</h4>
      <p>Comfort is a very important thing nowadays because it is a condition of satisfaction.</p>
      <a href="">Shop now!</a>
    </div>
  </div>
</div>
<!-- / main Carousel -->
<h4 class="text-center text-black-50 py-2">All products</h4>
<div class="row p-2">
  <div class="col-6 p-2" *ngFor="let product of service.getData().products">
    <div class="border p-2 my-2">
      <a
        [routerLink]="[
          '/shop',
          service.getCategoryLinkById(product.cid),
          service.getBrandLinkById(product.bid),
          product.link
        ]"
      >
        <h6 class="text-success text-center">{{ product.link | titlecase | replaceStringPipe: '-':' ' }}</h6>
      </a>
      <img class="img-fluid" src="{{ product.img_url }}" />
      <p>{{ product.dsc }}</p>
    </div>
  </div>
</div>
