/* Main contain */

.main-product {
  background: #f2f2f2;
  margin-top: 30px;
  height: 200px;
  padding-left: 350px;
  padding-top: 10px;
}

.main-product img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* #main .col-sm-9 {
  padding-right: 0;
} */

.main-product h4 {
  color: #19caaf;
}

.main-product p {
  margin: 20px 0;
}

.main-product a {
  vertical-align: middle;
  background: #2f2f2f;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

.main-product a:hover {
  background: #24ffdb;
}

#mainProductAngle {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 52px;
}

#mainProductAngle i {
  color: black;
}

#mainProductAngle i:hover {
  color: #19caaf;
  cursor: pointer;
}

.main-product span.main-product-angle {
  min-height: 25px;
  min-width: 25px;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.main-product span.main-product-angle i {
  color: #fff !important;
}

.main-product span.main-product-angle i.fa-angle-left,
.main-product span.main-product-angle i.fa-angle-right {
  margin: 0;
}
